@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

$yellow: #FFD32D;
$green: #008E89;
$dark-blue: #085E7D;
$blue: #084594;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}